/.bundle

/read-model-side/db/*.sqlite3
/read-model-side/db/*.sqlite3-journal
/read-model-side/log/*.log
/read-model-side/tmp
/write-model-side/db/*.sqlite3
/write-model-side/db/*.sqlite3-journal
/write-model-side/log/*.log
/write-model-side/tmp
